.folder,
.file {
  cursor: pointer;
  padding: 2px 4px;
  display: inline-block;
}

.folder {
  padding-left: 10px;
  font-weight: 600;
}

.folder:hover,
.file:hover {
  background-color: #333;
  color: #fff;
}
